.elements {
    --White1: #F6F6F6;
    --DarkBg1: #262626;
    --DarkBg2: #1C1C1C;
    --BackgroundOnHover: #454545;
    --backgroundCard2: #3A3A3A;
    --backgroundCards: linear-gradient(180deg, #454545 0%, #343434 100%);
    --PrimaryYellow: #F0B90B;
    --SuccessColor: #4DA14F;
    --WarningColor: #FF8800;
    --NeutralColor: #B0B0B0;
    --Error: #E54545;
    --BlackFilter: linear-gradient(180deg, rgba(102, 102, 102, 0) 0%, black 100%);
    --h1: 35px;
    --h2: 24px;
    --h3: 20px;
    --h4: 16px;
    --h5: 14px;
    --h6: 12px;
    --h7: 9px;
}

.circleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    height: 25px;
}

.backgroundCircle {
    fill: none;
    stroke-width: 4;
}

.backgroundCircle2 {
    fill: none;
    stroke-width: 1;
}

.circle2 {
    fill: none;
    stroke-width: 1;
    stroke-dasharray: var(--percentage) 100;
    transform-origin: 50%;
    transform: rotate(-90deg);
}

.circle {
    fill: none;
    stroke-width: 4;
    stroke-dasharray: var(--percentage) 100;
    transform-origin: 50%;
    transform: rotate(-90deg);
}

.selectOption {
    display: flex;
    padding: 0.5rem;
    color: var(--White1);
    background: var(--DarkBg2);
}

.selectOption:hover {
    background: var(--BackgroundOnHover)
}


/* Search Component */

.searchComponent {
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    background: var(--DarkBg2);
    color: var(--White1);
    border-bottom: 0.1rem solid var(--White1);
    gap: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.searchComponent::placeholder {
    color: var(--NeutralColor);
}

.searchInput {
    width: 100%;
    height: 100%;
    font-size: var(--h5);
    font-weight: normal;
    color: var(--White1);
    padding: 1rem;
    outline: none;
    border: none;
}

.cardContainer2 {
    height: 272px;
    width: 200px;
    background: var(--backgroundCard2);
    border-radius: 8px;
}

.cardContainer1 {
    height: 335px;
    width: 200px;
    min-width: 200px;
    background: var(--DarkBg1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.cardComponentVersion2 {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    background: var(--BackgroundOnHover);
}

.cardComponentVersion1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: var(--DarkBg1);
    gap: 0.5rem;
}

.imageAndButton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 20rem;
    width: 305px;
}

.buttonDetailMovie {
    display: flex;
    justify-content: center;
    width: 100%;
}

.imageDetailMovie {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.labelCategory {
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.labelCategory {
    display: flex;
    justify-content: center;
    border: 0.1rem solid var(--PrimaryYellow);
    color: var(--PrimaryYellow);
}

.blackFilter {
    width: 100%;
    height: 100%;
    background: var(--BlackFilter);
}

.favoriteStyle {
    transition: all 0.3s ease-in-out;
}

.favoriteStyle:hover {
    transform: scale(1.1);
}

.imageCard {
    object-fit: cover;
    width: 100%;
    height: 223px;
    transition: all 0.3s ease-in-out;
}

.imageCard:hover {
    transform: scale(1.1);
}

.searchAndMenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.selectContainer {
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    background: var(--DarkBg2);
}

.selectContainerOptions {
    display: flex;
    flex-direction: column;
}

.buttonSignOut {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    height: 2.5rem;
    background: var(--PrimaryYellow);
    color: var(--DarkBg1);
    bottom: -3rem; 
    left: -2.1rem;
}